header {
  background-color: $colors-secondary;
  display: flex;
  width: 100%;
  padding: 20px 40px 10px 40px;
  justify-content: space-between;
  font-family: "caviar_dreamsbold", helvetica, Arial, Helvetica, sans-serif;
  margin-bottom: 20px;

  ul {
    display: flex;
    li {
      padding-left: 2em;
    }
  }
}
.header--logo img {
  width: 90px;
  height: auto;
}
