.hero {
  display: flex;
  background-image: url("../imports/herobackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
  width: 100%;
  height: 280px;
}

.hero--logo img {
  width: 100%;
}
.hero--logo {
  width: 50%;
}
