.h2--background {
  background: linear-gradient(0.25turn, black, $colors-tertiaire);
  width: 100%;
  margin: 0 0 40px 0;
}

/*articles total: h2 + pola*/
.article--container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 20px 0 40px 0;
}
/*articles total: pola*/
.article--contain {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
/*articles: polaroids*/
.aPola--grid {
  display: grid;
  grid-template-columns: 40% 60%;
  width: 90%;
  margin-bottom: 20px;
}
.polaroid {
  display: grid;
  grid-template-columns: 40% 60%;
  width: 90%;
  margin-bottom: 20px;
}
/*layout pola seul*/
.image--article {
  background-color: darkgrey;
  grid-row: 1/4;
}

.name--article {
  @include nameProduct;
}

.description--article {
  color: black;
}

.price--article {
  color: white;
  font-weight: 600;
  padding: 10px 20px;
  background: linear-gradient(0.25turn, $colors-tertiaire, white);
}
